!!! 5
html
	head
		title IBAN BIC kolom converter
		meta(charset='utf-8')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/jquery-1.7.1.min.js')
		script(src='/javascripts/index.js')
	body
		.container
			.hero-unit
				h1 IBAN BIC kolom converter
				p Deze converter zet de BBAN (gewone rekeningnummers) om naar de nieuwe BIC/IBAN vorm 
			
			.row
				.span4
					h2 BBAN
					p plak hier de kolom met de gewone BBAN rekeningnummers
				.span4
					h2 IBAN
				.span4
					h2 BIC
			.row
				.span4
					textarea#bban
					button#convert Converteer
				.span4
					textarea#iban
				.span4
					textarea#bic
			br
			.progress
				.bar#progressbar(style="width: 0%;")

			hr

			footer
				p &copy; Sam Decrock
				p
					span Deze website maakt gebruikt van de officiële 
					a(href="http://www.ibanbic.be") ibanbic.be service.


